name: RedisInAction
services:
  redis:
    image: redis:8.2.4-alpine3.22
    container_name: redis_server
    restart: always
    ports:
      - "6379:6379"
  redisinsight:
    image: redis/redisinsight
    container_name: redis_insight
    restart: always
    depends_on:
      - redis
    ports:
      - "5540:5540"
